.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #5A287D;
}

.row {
    /* background-color: red; */
    font-size: large;
}